@using WebApp.ViewModels.Chat
@model CreateGroupChat_VM


<div class="margin-50">
    <label>Enter group chat name</label>
    <div class="flex-section-row">
        <input id="GroupName" class="flex-section-row-child-75" asp-for="GroupChatName" />
        <a class="btn btn-info flex-section-row-child-25 cursor" onclick="javascript: CreateGroupChat();">Create group</a>
    </div>
</div>
<div id="show" class="d-none margin-50">
    <ul class="list-group" id="listOfParticipants">
        <li class="list-group-item d-flex justify-content-between align-items-center background-light text-color-white">
            Participants
            <span><a class="btn btn-info cursor" data-toggle="modal" data-target="#myModal">+ new participants</a></span>
        </li>
    </ul>
</div>



@* MODAL FOR ADDING NEW CHAT MEMBER *@
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <input id="filter" placeholder="Search people.." oninput="javascript: GetChatParticipants();" class="w-100 margin-5" />
                <div id="GetChatParticipants_AjaxDiv" class="text-center padding-5"> </div>
            </div>
            <div class="modal-footer">
                <p class="small-text">Search people and click on ther name to add them to group chat.</p>
            </div>
        </div>

    </div>
</div>



<script>
    function GetChatParticipants() {
        var filter = $("#filter").val();
        $.get("/Chat/GetChatParticipants?AjaxView=GetGroupChatParticipants_Ajax&NameFilter=" + filter, function (result, status) {
            $("#GetChatParticipants_AjaxDiv").html(result);
        });
    }

    function AddNewUser(userid, username) {
        var groupchatname = $("#GroupName").val();
        $.post("/Chat/AddGroupChatParticipant?GroupName=" + groupchatname + "&UserId=" + userid, function (result, status) {
            if (status == "success") {
                AddPlayerToTable(userid, username);
            }
        });
    }

    function AddPlayerToTable(UserId, UserName) {
        var li = document.createElement("li");
        li.className = "list-group-item d-flex justify-content-between align-items-center";
        li.innerHTML = UserName;
        li.id = "User_" + UserId;

        var span = document.createElement("span");
        span.className = "badge badge-primary badge-pill";

        var x = document.createElement("a");
        x.innerHTML = "X";
        x.classList = "cursor";
        x.onclick = () => {
            var GroupChatName = $("#GroupName").val();
            $.post("/Chat/RemoveGroupChatParticipant?GroupName=" + GroupChatName + "&UserId=" + UserId);
            RemovePlayerFromTable(UserId, UserName);
        };

        span.appendChild(x);
        li.appendChild(span);

        document.getElementById("listOfParticipants").appendChild(li);
        Message(UserName + " is successfully added to group chat.");
    }


    function RemovePlayerFromTable(UserId, UserName) {
        var li = document.getElementById("User_" + UserId);
        li.remove();
        Message(UserName + " is successfully removed from the group chat.");
    }

    function CreateGroupChat() {
        var name = $("#GroupName").val();
        $.get("/Chat/CreateGroupChat?GroupName=" + name, function (result, status) {
            if (status == "success") {
                $("#show").removeClass("d-none");
                document.getElementById("GroupName").disabled = true;
                ShowGroupChatOptions();
            }
        });
    }
    //function AddUser() {
    //    var eTr = document.getElementById("addNewUserTr");
    //    if (eTr != null) {
    //        eTr.remove();
    //    }

    //    var tr = document.createElement("tr");
    //    tr.id = "addNewUserTr";

    //    var td1 = document.createElement("td");
    //    var td2 = document.createElement("td");
    //    var td3 = document.createElement("td");

    //    var count = document.getElementsByTagName("tr").length;
    //    var labelNum = document.createElement("label");
    //    labelNum.innerHTML = count;

    //    var labelName = document.createElement("input");
    //    labelName.className = "w-100";
    //    labelName.name = "ParticipantName";

    //    var labelSurname = document.createElement("input");
    //    labelSurname.className = "w-100";
    //    labelSurname.name = "ParticipantSurname";

    //    td1.appendChild(labelNum);
    //    td2.appendChild(labelName);
    //    td3.appendChild(labelSurname);

    //    tr.appendChild(td1);
    //    tr.appendChild(td2);
    //    tr.appendChild(td3);

    //    document.getElementById("tableTBody").appendChild(tr);
    //}
</script>
