@using WebApp.ViewModels.Chat
@model List<ChatParticipants_VM>


@foreach (var i in Model)
{
    <p class="border-bottom cursor text-align-left" onclick="javascript: GetChatInfo(@i.UserId, @ViewData["IsGroupChat"]);"><a class="text-decoration-none text-secondary" >@i.UserName</a></p>
}
