@using WebApp.EntityModels
@model List<Chat>

<div class="d-flex h-100 from-row-to-column column-spread">
    <vc:room></vc:room>


    <div class="chat-body">
        @foreach (var chat in Model)
        {
            <a class="room-button" asp-controller="Chat" asp-action="JoinRoom" asp-route-id="@chat.Id">
                @chat.Name
            </a>
        }
    </div>
</div>

