
@using WebApp.EntityModels;
@using WebApp.Helper;
@{
    UserAccount account = Context.GetLoggedUser();
    var text = "";
    var isAdmin = false;
    if (account != null)
    {
        text = "Account";
        if (account.Role == UserRole.Admin)
            isAdmin = true;
    }
    else
    {
        text = "Log In";
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Respect TA</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/BootstrapAddiontal.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/mycss.css" />
    <link rel="stylesheet" href="~/css/mycss2.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com"> @*font-family: 'Syne Mono', monospace;*@
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com"> @*Ubuntu*@
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/myjavascript.js"></script>

</head>
<body>


    <header class="position-fixed left0 top0 w-100 zIndexUp d-flex justify-content-between align-items-start">
        <img src="/Images/Embedded/company_logo.jpg" alt="" class="moving_logo moving_logo_expand" />
        <div id="short-menu-icon" >
            <div class="img-size-50"><i class="bi bi-list"></i></div>
        </div>
        <nav id="nav-bar-id" class="navbar navbar-expand-sm navbar-toggleable-sm mb-3 font-family-ubuntu padding-0">
            <div class="container">
                <div class="navbar-brand d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1 padding-20 background-white border-radius-50">
                        <li class="nav-item">
                            <a class="nav-link text-dark padding-5" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark padding-5" asp-area="" asp-controller="Catalog" asp-action="Index">Catalog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark padding-5" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                        @if (account != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark padding-5" asp-area="" asp-controller="Program" asp-action="Index">Programs</a>
                            </li>
                            @*<li class="nav-item">
                <a class="nav-link text-dark padding-5" asp-area="" asp-controller="Purchase" asp-action="IssueAnInvoice">Invoices</a>
            </li>*@
                        }
                        @if (isAdmin)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark padding-5" asp-area="" asp-controller="Administration" asp-action="Index">Administration</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-secondary padding-5" asp-area="" asp-controller="Login" asp-action="Account">@text</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="margin-bottom-50">
        <main role="main">
            @RenderBody()
        </main>
    </div>

</body>
</html>