@using WebApp.ViewModels.Administration
@model AddNewActivityAttachment_VM

<div class="flex-section-row margin-top-25 div-align-center w-75 from-row-to-column column-reverse">
    <form enctype="multipart/form-data" class="form padding-5" asp-action="AddNewActivityAttachment" asp-controller="Administration">

        <input hidden asp-for="ActivityId" value="@Model.ActivityId" />

        <label class="form-label">Title</label>
        <input class="form-input" asp-for="Name" />

        <label class="form-label">Type of attachment</label>
        <select class="form-input w-100" asp-for="TypeOfAttachment" asp-items="Model.TypeOfAttachmentSelect">
        </select>

        <label class=" form-label">Description</label>
        <input class="form-input" asp-for="Description" />

        <label class="form-label">Expected price to visit</label>
        <input class="form-input" asp-for="PriceToVisit" type="number" />

        <label class="form-label">Upload a photo that is related to attachment.</label>
        <div class="custom-file">
            <input asp-for="Image" class="custom-file-input form-input" />
            <label class="custom-file-label form-label">Choose picture</label>
        </div>

        <button class="margin-top-5" type="submit">Create</button>
    </form>
    <div class="alert alert-success padding-5 margin-0 margin-left-5px max-width-400px">
        <h4 class="margin-bottom-20">Creating attachment</h4>
        <p>
            To create a new attachment fill out the form.
            <br />
            When you create attachment it will be automatically assigned to this activity.
            <br />
            Provide the best description because users will see it and make decisions based on them.
            <br />
            Make sure you upload picture that represents it in best way.
            <br />
        </p>
        <h5>Press 'Create' to add attachment.</h5>
    </div>
</div>




