@using WebApp.ViewModels.Administration
@model AddNewActivityAttachment_VM

<div class="flex-section-row margin-top-25">
    <form class="flex-section-row-child-50 padding-5" asp-action="AddNewActivityAttachment" asp-controller="Administration">

        <input hidden asp-for="ActivityId" value="@Model.ActivityId" />

        <label class="d-block">Title</label>
        <input asp-for="Name" />

        <label class="d-block">Type of attachment</label>
        <select class="w-100" asp-for="TypeOfAttachment" asp-items="Model.TypeOfAttachmentSelect">
        </select>

        <label class="d-block">Description</label>
        <input asp-for="Description" />

        <label class="d-block">Expected price to visit</label>
        <input asp-for="PriceToVisit" type="number" />


        <button class="w-100 margin-top-5 padding-5 btn-primary" type="submit">Create</button>
    </form>
    <div class="flex-section-row-child-50 alert alert-success padding-5">
        <h4>Creating attachment</h4>
        <p>
            To create a new attachment fill out the form.
            <br />
            When you create attachment it will be automatically assigned to this activity.
            <br />
            Press 'Create' to add attachment.
        </p>
    </div>
</div>




