

<div class="flex-section-column">

    <div class="administration-panel flex-section-row justify-content-around">
        <a class="box active-box" href="/Administration/ProgramsOptions">
            <img class="img-size-50" src="~/Images/Embedded/plan2.png" alt="Programs" />
            <h4>Programs</h4>
            <p>Monitor programs to make sure they can be applied.</p>
        </a>
        <a class="box active-box" href="/Administration/ActivitiesOptions">
            <img class="img-size-50" src="~/Images/Embedded/options.png" alt="Activity options" />
            <h4>Activity options</h4>
            <p>Create detailed activities for users for better user experience.</p>
        </a>
        <a class="box active-box" href="/Administration/PurchasesOptions">
            <img class="img-size-50" src="~/Images/Embedded/sells.png" alt="Purchases" />
            <h4>Purchases</h4>
            <p>Show details about program and its customers purchases.</p>
        </a>
    </div>
    <div class="administration-panel flex-section-row justify-content-around">
        <a class="box active-box" href="/Purchase/IssueAnInvoice">
            <img class="img-size-50" src="~/Images/Embedded/notices.png" alt="Invoices" />
            <h4>Invoices</h4>
            <p>Create an invoice for a program.</p>
        </a>
        <a class="box active-box" href="/Administration/CustomersOptions">
            <img class="img-size-50" src="~/Images/Embedded/customers.png" alt="Customers" />
            <h4>Customers</h4>
            <p>Monitor detaild information about customers.</p>
        </a>
        <a class="box active-box" href="/Administration/NotificationsOptions">
            <img class="img-size-50" src="~/Images/Embedded/notifications.png" alt="Notification" />
            <h4>Notifications</h4>
            <p>Create new notifications to keep your customers informed.</p>
        </a>
    </div>
    <div class="administration-panel flex-section-row justify-content-around">
        <a class="box active-box" href="/Sponsor/SponsorOptions">
            <img class="img-size-50" src="~/Images/Embedded/sponsors.png" alt="Sponsors" />
            <h4>Sponsors</h4>
            <p>Present sponsors on home page.</p>
        </a>
    </div>

</div>






