@using WebApp.ViewModels.Administration
@model AddNewActivity_VM


<div class="flex-section-column">

    <div class="flex-section-row justify-content-between">
        <div class="box">
            <img class="img-size-50" src="~/Images/Embedded/plan2.png" alt="Plan" />
            <h4>Plans</h4>
            <p>Modify plans to make sure they can be applied.</p>
        </div>
        <div class="box active-box">
            <img class="img-size-50" src="~/Images/Embedded/remove.png" alt="Remove" />
            <h4>Remove</h4>
        </div>
        <div class="box active-box">
            <img class="img-size-50" src="~/Images/Embedded/add.png" alt="Add" />
            <h4>Add</h4>
        </div>
    </div>

    <div class="flex-section-row justify-content-between">
        <div class="box">
            <img class="img-size-50" src="~/Images/Embedded/options.png" alt="Plan" />
            <h4>Activity options</h4>
            <p>Create detailed activities for users for better user experience.</p>
        </div>
        <div class="box active-box">
            <img class="img-size-50" src="~/Images/Embedded/remove.png" alt="Remove" />
            <h4>Remove</h4>
        </div>
        <div class="box active-box">
            <img class="img-size-50" src="~/Images/Embedded/add.png" alt="Add" />
            <h4>Add</h4>
        </div>
    </div>


    <div class="flex-section-row justify-content-between">
        <div class="box">
            <img class="img-size-50" src="~/Images/Embedded/options.png" alt="Customers" />
            <h4>Customers</h4>
            <p>Monitor customer information and details about individual requirements.</p>
        </div>
        <div class="box active-box">
            <img class="img-size-50" src="~/Images/Embedded/remove.png" alt="Remove" />
            <h4>Remove</h4>
        </div>
        <div class="box active-box">
            <img class="img-size-50" src="~/Images/Embedded/add.png" alt="Add" />
            <h4>Add</h4>
        </div>
    </div>


</div>








@*<form enctype="multipart/form-data" asp-action="AddNewActivity" asp-controller="Administration">


        <textarea asp-for="Description"></textarea>
        <label>Description</label>
        <br />
        <div class="custom-file">
            <input asp-for="Image" class="custom-file-input" />
            <label class="custom-file-label">Image can say more then a word. Upload image related to activity you are adding.</label>
        </div>


        <button type="submit">Add</button>
    </form>*@ 