@using WebApp.ViewModels.Notification
@model CreateNotification_VM



<h4>Notification</h4>
<p>Notifications are used to provide informations to customers. Notifications are public and all customers will be able to read your notifications</p>


<h6 class="padding-20 border-top border-dark margin-top-25">Create new notification</h6>
<section>
    <form enctype="multipart/form-data" asp-action="CreateNewNotification" asp-controller="Notification" class="form w-75 div-align-center">
        <label class="form-label">Title</label>
        <input class="form-input" type="text" asp-for="Title" />

        <label class="form-label">Description</label>
        <textarea class="form-input w-100" type="text" asp-for="Description"></textarea>

        <label class="form-label">Upload image (option)</label>
        <div class="custom-file">
            <input asp-for="Image" class="form-label custom-file-input" />
            <label class="form-input custom-file-label">Choose picture</label>
        </div>

        <button type="submit">Create</button>
    </form>
</section>

<h6 class="padding-20 border-top border-dark margin-top-25">Notifications</h6>
<section id="NotificationsID">
</section>

<script>
    $(document).ready(function () {
        $.get("/Notification/GetNotifications?AllowModifications=" + true, function (result, status) {
            if (status == "success") {
                $("#NotificationsID").html(result);
            }
        });
    });
</script>
