.errorClass {
    font-size: 14px;
    color: red;
    border-color: red;
    font-weight: bold;
}


a {
    text-decoration: none;
    color: none;
}

form {
    width: 100%;
}

    form input {
        width: 100%;
    }

button, a, input[type='submit'] {
    width: auto;
    cursor: pointer;
}

.cursor {
    cursor: pointer;
}

.Msg_P {
    padding: 30px;
    border: 1px solid red;
    border-radius: 20px;
    background-color: rgba(255, 0, 0, 0.50);
    color: white;
}

.flex-section-row {
    display: flex;
    flex-direction: row;
}

.flex-section-row-child-75 {
    width: 75%;
}

.flex-section-row-child-50 {
    width: 50%;
}

.flex-section-row-child-25 {
    width: 25%;
}

.flex-section-column {
    display: flex;
    flex-direction: column;
}

img.img-size-30 {
    width: 30px;
    height: 30px;
}


img.img-size-50 {
    width: 50px;
    height: 50px;
}

img.img-size-200 {
    width: 200px;
    height: 200px;
}

img.img-size-400 {
    width: 400px;
    height: auto;
    max-height: 400px;
}

img.object-fit-scale-down {
    object-fit: scale-down;
}

.font-size-13px {
    font-size: 13px;
}

.font-size-20px {
    font-size: 20px;
}

.font-size-100px {
    font-size: 100px;
}

.div-section-list-item {
    display: flex;
    flex-direction: column;
}

    .div-section-list-item > * {
        display: block;
        width: 100%;
        margin: 0px;
        padding: 5px;
        box-sizing: border-box;
        text-align: center;
    }

.list-item {
    margin-top: 5px;
    border-top: 1px solid;
    border-color: black;
}

.padding-0 {
    padding: 0px;
}

.padding-5 {
    padding: 5px;
    box-sizing: border-box;
}

.padding-20 {
    padding: 20px;
    box-sizing: border-box;
}

.padding-50 {
    padding: 50px;
    box-sizing: border-box;
}

.padding-bottom-50 {
    padding-bottom: 50px;
    box-sizing: border-box;
}

.padding-top-50 {
    padding-top: 50px;
    box-sizing: border-box;
}

.margin-0 {
    margin: 0;
}

.margin-5 {
    margin: 5px;
}

.margin-50 {
    margin: 50px;
}

.nav-item::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: dodgerblue;
    margin: auto;
    transition: linear;
    transition-duration: 0.3s;
}

.nav-item:hover::after {
    /*    background-color: rgb(157, 206, 221);*/
    /*border-bottom: 2px solid rgb(23, 122, 137);*/
    width: 100%;
}

.text-red {
    color: #d31616;
}

.circle {
    border-radius: 50%;
}

.background-green {
    background-color: lawngreen;
}

.background-white {
    background-color: white;
}

.background-gainsboro {
    background-color: gainsboro;
}

.background-light {
    background-color: rgb(24, 133, 150);
}

.background-dark {
    background-color: rgb(11, 84, 96);
}

.background-lightcyan {
    background-color: lightcyan;
}

.position-bottom {
    bottom: 0px;
}

.position-left {
    left: 0px;
}

.position-right {
    right: 0px;
}

.position-top {
    top: 0px;
}

.background-gray {
    background-color: rgb(128, 128, 128);
}

.div-align-left {
    margin-left: 0px;
    margin-right: auto;
}

.div-align-right {
    margin-left: auto;
    margin-right: 0px;
}

.div-align-center {
    margin-left: auto !important;
    margin-right: auto !important;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-align-justify {
    text-align: justify;
}

.scroll-auto {
    overflow-y: auto;
}

.scroll-allow {
    overflow-y: scroll;
}

.max-width-75 {
    max-width: 75%;
}

.h-150 {
    height: 150px;
}

.w-200 {
    width: 200px;
}

.w-250 {
    width: 250px;
}

.h-200 {
    height: 200px;
}

.h-300 {
    height: 300px;
}

.h-500 {
    height: 500px;
}

.margin-right-25 {
    margin-right: 25%;
}

.margin-left-25 {
    margin-left: 25%;
}

.margin-right-5 {
    margin-right: 5%;
}

.margin-left-5 {
    margin-left: 5%;
}

.margin-left-5px {
    margin-left: 5px;
}

.margin-right-5px {
    margin-right: 5px;
}

.margin-left-25px {
    margin-left: 25px;
}

.margin-right-25px {
    margin-right: 25px;
}

.margin-left-50px {
    margin-left: 50px;
}

.margin-right-50px {
    margin-right: 50px;
}

.margin-top-0 {
    margin-top: 0px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top.h-500 {
    margin-top: 5px;
}

.margin-bottom-0 {
    margin-bottom: 0px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.border-radius-left {
    border-radius: 20px 20px 20px 0px;
}

.border-radius-right {
    border-radius: 20px 20px 0px 20px;
}

.border-radius-0 {
    border-radius: 0px !important;
}

.border-radius-5 {
    border-radius: 10px;
}

.border-size-3 {
    border: 3px solid;
}

.border-lightblue {
    border-color: lightblue;
}

.border-dodgerblue {
    border-color: dodgerblue;
}

.background-lightblue {
    background-color: lightblue;
}

.background-dodgerblue {
    background-color: dodgerblue;
}

.background-midnightblue {
    background-color: midnightblue;
}

.text-color-white {
    color: white;
}

.text-color-lightgray {
    color: #a29e9e;
}

.text-color-gray {
    color: gray;
}

.text-color-darkgray {
    color: darkgray;
}

.text-color-black {
    color: black;
}

.text-color-yellow {
    color: yellow;
}

.text-color-red {
    color: red;
}

.text-color-green {
    color: green;
}

.text-color-darkcyan {
    color: darkcyan;
}

.small-text {
    font-size: 12px;
    font-weight: bold;
}

.header-text {
    font-size: 20px;
    font-weight: bolder;
}

.text-over-blue:hover {
    color: blue;
}

.margin-side-50 {
    margin-left: 50px;
    margin-right: 50px;
    box-sizing: border-box;
}

.margin-side-10 {
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
}

.sectionMargin {
    margin-top: 50px;
    margin-bottom: 50px;
    box-sizing: border-box;
}

.zIndexDown {
    z-index: 1 !important;
}

.zIndexUp {
    z-index: 2 !important;
}


.custom-card {
    padding: 2%;
    color: rgb(11, 84, 96);
    background-color: white;
    border-radius: 10px;
    width: 300px;
    height: 250px;
    overflow: hidden;
    margin: 10px;
    font-family: 'Patrick Hand', cursive;
    font-size: 18px;
}

.focus-hover:hover {
    font-weight: bold;
}

.focus-border {
    border-left: 3px solid white;
}

    .focus-border:hover {
        border-color: black;
    }

.focus-background {
    background-image: linear-gradient(to bottom, rgb(67, 88, 199, 1), rgb(67, 88, 199, 0), rgb(67, 88, 199, 0), rgb(67, 88, 199, 0), rgb(67, 88, 199, 0));
}

.box {
    width: 33%;
    max-width: 400px;
    min-width: 200px;
    height: 200px;
    padding: 30px;
    box-sizing: border-box;
    margin: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
    line-height: 100%;
    transition: linear .5s;
    user-select: none;
    overflow: hidden;
}

.active-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 5px 10px #00000047;
}

    .active-box:hover {
        background-color: rgb(126, 193, 203);
        cursor: pointer;
        box-shadow: 0px 5px 10px #00000088;
    }

a.box {
    text-decoration: none;
    color: black;
}

.active-table-row:hover {
    cursor: pointer;
    background-color: rgb(139, 201, 210);
    color: white;
}

table {
    user-select: none;
}

.user-select-none {
    user-select: none;
}

.show-on-hover {
    opacity: 0;
}

    .show-on-hover:hover {
        opacity: 1;
        background: rgba(184, 183, 183, 0.4);
    }


.min-w-130 {
    min-width: 130px;
}

.min-w-200 {
    min-width: 200px;
}

.min-h-200 {
    min-height: 200px;
}

.min-h-500 {
    min-height: 500px;
}

.flex-grow-2 {
    flex-grow: 2;
}

.fixed-bottom-right {
    right: 0px;
    bottom: 0px;
}

.hidden {
    display: none;
}

.horizontal-line {
    height: 1px;
    border: 1px solid black;
    padding: 0px;
}

.w-80 {
    width: 80%;
}

.w-15 {
    width: 15%;
}

.activity {
    margin-bottom: 20px;
    user-select: none;
}

.h-50perc {
    height: 50%;
}

.h-80perc {
    height: 80%;
}

@keyframes indicator-animation {
    from {
        width: 3px;
    }

    to {
        width: 100%;
    }
}

.indicator-from-left::after {
    content: '';
    display: block;
    height: 5px;
    width: 5px;
    background-color: red;
    border-radius: 5px;
}

.indicator-from-left:hover::after {
    animation-name: indicator-animation;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
}

.indicator-from-right::after {
    content: '';
    display: block;
    height: 5px;
    width: 5px;
    background-color: red;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 0px;
}

.indicator-from-right:hover::after {
    animation-name: indicator-animation;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
}

.cursor-animation-1 {
    user-select: none;
    transition-duration: 0.3s;
}

    .cursor-animation-1:hover {
        transform: translateY(-20px);
    }

.cursor-animation-2 {
    user-select: none;
    transition-duration: 0.3s;
}

    .cursor-animation-2:hover {
        transform: translateY(30px);
    }

        .cursor-animation-2:hover::after {
            content: '';
            display: inline-block;
            height: 5px;
            width: 3px;
            background-color: yellow;
            border-radius: 5px;
            margin-right: 3px;
        }

.cursor-animation-grow {
    width: 80%;
    user-select: none;
    transition-duration: 0.3s;
}

    .cursor-animation-grow:hover {
        width: 90%;
    }

.font-sine-mono {
    font-family: 'Syne Mono', monospace;
}

.font-patrick-hand {
    font-family: 'Patrick Hand', monospace;
}

.font-josefin-sans {
    font-family: 'Josefin Sans', sans-serif;
}

.fixed-nav {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    height: 80px;
    overflow: hidden;
}

    .fixed-nav div {
        margin-left: auto;
    }


.moving_logo {
    height: 70px;
    margin: 5px;
    margin-left: 100px;
    object-fit: contain;
    z-index: 200;
    transition: 0.5s ease-in-out;
}

.moving_logo_expand {
    height: 200px;
    margin: 15px;
}

.max-height-100 {
    max-height: 100px;
}

.max-height-300 {
    max-height: 300px;
}

.max-height-500 {
    max-height: 500px;
}


.background-lightgray {
    background: rgba(128, 128, 128, 0.1);
}

.box-shadow-black {
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3) !important;
}

.box-shadow-small {
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

button, button:active {
    border: 0px !important;
    outline: none !important;
}

.outline-none {
    outline: none;
}

.btn:focus {
    box-shadow: none !important;
}

.btn-white-black {
    background-color: white;
    color: black;
    border: 0px !important;
    outline: 0px !important;
}

    .btn-white-black:active,
    .btn-white-black:focus {
        outline: none !important;
    }

.max-height-0 {
    max-height: 0px;
}

.h5-tag-style {
    min-width: 100px;
    border: 1px solid;
    padding: 5px 10px;
    background: #28a74533;
    border-radius: 17px;
    text-align: center;
}

.w-50px {
    width: 50px;
}

.border-bottom-only {
    border: 0px;
    border-bottom: 3px solid #007bff !important;
}

.border-bottom-dotted {
    border-bottom-style: dotted !important;
}

.border-size-3 {
    border-width: 3px !important;
}

.border-size-10 {
    border-width: 10px !important;
}

.padding-vertical-10 {
    padding: 10px 0px !important;
}

.input-time {
    border: 0px;
    color: darkgray;
    background: none;
}

.border-color-custom {
    border-color: #56a195 !important;
}

.background-color-custom {
    background-color: #56a195 !important;
}

.btn-transparent {
    color: #56a195;
    background-color: transparent;
}

.tool {
    width: 100px;
    height: 100px;
    border: 1px solid rgb(128, 128, 128);
    background-color: rgba(128, 128, 128, 0.30);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.focusable {
    min-width: 50px;
    min-height: 50px;
}

    .focusable:hover {
        background-color: rgba(128, 128, 128, 0.50);
        border: 1px solid rgb(128, 128, 128);
    }

#programsPreview {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin: 30px 30px;
}

.program-preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
    max-width: 500px;
    min-width: 250px;
    height: auto;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    margin: 0px 5px;
    border: 3px solid white;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.2);
}


#sponsors {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    min-height: 400px;
    padding: 50px;
    overflow-x: hidden;
}

    #sponsors > div {
        max-width: 250px;
    }

.font-family-ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

.w-100px {
    width: 100px !important;
}

.gap-1 {
    grid-gap: 1rem;
}




.feedback-block {
    display: block;
    padding: 20px;
    margin: 30px 0px;
    border: 1px solid gray;
    border-radius: 10px;
}

    .feedback-block:hover {
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
    }


#short-menu-icon, #short-menu-icon-2 {
    display: none;
    width: 80px;
    height: 80px;
    padding: 20px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    color: dodgerblue;
    font-weight: bold;
    margin: 30px;
}

.contact-list {
    width: 50%;
}

.presentation-section {
    position: relative;
    display: flex;
    margin: 100px 10px;
    z-index: 2;
    padding: 50px;
}

.presentation-section-image {
    width: 50%;
    text-align: right;
    margin-right: 40px;
}

    .presentation-section-image img {
        width: 70%;
        max-height: 500px;
        object-fit: contain;
    }

.presentation-section-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .presentation-section-info p {
        width: 50%;
        text-align: justify;
        margin-top: 40px;
    }

img.presentation-section-bg {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    opacity: 0.2;
}

.background-light-blue {
    background-color: #f5f5f5;
}

.catalog-item {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    background-color: white;
    margin: 20px 0px 20px 20px;
}

.catalog-table {
    height: 180px;
    width: 70%;
    min-width: 250px;
    max-width: 800px;
    color: #2d3e52;
    text-transform: capitalize;
    padding: 20px;
}

    .catalog-table h3 {
        margin: 0px;
    }

.catalog-table-activity {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.catalog-table tr {
    height: 90px;
}

.catalog-table td {
    padding: 10px;
    box-sizing: border-box;
}

.catalog-table-rate {
    text-align: center;
    width: 120px;
}

.catalog-image {
    width: 30%;
    min-width: 200px;
    max-width: 450px;
    height: 180px;
}

    .catalog-image img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

.catalog-addons {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding: 10px;
}

.catalog-addon {
    width: 60px;
    height: 60px;
    text-align: center;
}

    .catalog-addon:hover * {
        color: dodgerblue;
        border-color: dodgerblue;
    }

    .catalog-addon h6 {
        color: rgba(128, 128, 128, 0.4);
    }

.addon-image {
    border: 2px solid rgba(128, 128, 128, 0.4);
    border-radius: 50%;
    padding: 5px;
    box-sizing: border-box;
    margin: 10px;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.catalog-filter-form {
    background-color: white;
}

    .catalog-filter-form select, .catalog-filter-form input {
        width: 100%;
        border: 0px;
        border-bottom: 1px solid dodgerblue;
        padding: 3px 5px;
    }


    .catalog-filter-form label {
        margin: 0px;
        margin-top: 10px;
    }

    .catalog-filter-form button {
        width: 100%;
        color: dodgerblue;
        border: none;
        transition: 0.3s linear;
        cursor: pointer;
        margin-top: 10px;
        padding: 5px;
        font-weight: bold;
    }

        .catalog-filter-form button:hover {
            color: white;
            background-color: dodgerblue;
        }

.AddedAddon {
    color: dodgerblue;
    text-align: center;
    margin: 0px 10px;
    cursor: pointer;
}

    .AddedAddon img {
        border-color: dodgerblue;
    }

.NotAddedAddon {
    color: red;
    cursor: pointer;
    text-align: center;
    margin: 0px 10px;
}

    .NotAddedAddon:hover {
    }

    .NotAddedAddon img {
        border-color: red;
    }

.text-color-orange {
    color: #fdb714;
}

.warning-message {
    padding: 15px 20px;
    color: white;
    background-color: orange;
    border: 1px solid white;
    border-radius: 10px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    max-width: 400px;
    z-index: 1000;
    margin: auto;
}

.rate-star {
    position: absolute;
    top: 100%;
    left: calc(50% - 30px);
    width: 60px;
    height: 60px;
    font-size: 20px;
}

    .rate-star i {
        cursor: pointer;
    }

.padding-left-50 {
    padding-left: 50px;
}

.padding-right-50 {
    padding-right: 50px;
}

.left {
    left: 5px;
}

.top {
    top: 5px;
}

.center-all {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.flex-1 {
    flex: 1;
}

a:hover {
    text-decoration: none;
    color: unset;
}

/* form */

.form {
    width: 100%;
    max-width: 600px;
    margin: 10px auto;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 0px 10px 1px rgba(0, 0, 0, 0.3);
}

    .form button[type='submit'], .form-button {
        padding: 10px;
        width: 50%;
        max-width: 250px;
        min-width: 100px;
        background-color: #5a4274;
        border-radius: 10px;
        cursor: pointer;
        color: white;
        border: 1px solid white;
        box-shadow: 0px 1px 5px #5a427455;
        margin: 15px auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
    }

.form-label {
    color: rgb(48, 46, 46);
    font-style: italic;
    margin: 10px 5px 5px 5px;
    font-family: 'Roboto', sans-serif;
}

.form-input {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.3);
}

    .form-input[type='radio'] {
        box-shadow: none;
    }

.wide-form {
    max-width: 1300px !important;
}

.btn-red {
    background-color: #e33b3b !important;
    color: white !important;
}
/*.............*/

.w-fit-content {
    width: -webkit-fill-available;
}

/* chat */
.side-menu {
    background-color: #443554;
    min-width: 100px;
    max-width: 250px;
    height: 100%;
    /*    z-index: 50;*/
    box-shadow: 1px 0 2px 0 #333;
    /* position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px; */
    display: flex;
    flex-direction: column;
}

.room-button {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.75rem 1rem 0;
    height: 68px;
    border-radius: 5px;
    box-shadow: 0 1px 3px 1px #333;
    background-color: #57446b;
    text-align: center;
    overflow: hidden;
    padding: 10px;
}

    .room-button > strong {
        font-size: 36px;
    }

    .room-button:hover {
        box-shadow: 0 2px 3px 1px #222;
    }

.chat {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.chat-body {
    background-color: #eee;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px 50px 1rem 50px;
    overflow: auto;
}

.message {
    display: flex;
    flex-direction: row;
    margin-top: 0.2rem;
}

    .message:first-child {
        margin-top: auto;
    }

    .message > * {
        padding: 0.2rem;
    }

    .message > header {
        font-weight: bold;
        min-width: 100px;
        text-align: right;
    }

    .message > p {
        margin: 0;
        flex-grow: 5;
    }

    .message > footer {
        min-width: 60px;
        text-align: center;
    }

.chat-input {
    background-color: #443554;
    min-height: 70px;
    max-height: 70px;
    z-index: 25;
    box-shadow: 0 -1px 2px 0 #333;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

    .chat-input > input {
        flex-grow: 2;
    }

    .chat-input > button {
        flex-grow: 1;
    }

.modal {
    display: none;
    position: fixed;
    min-height: 100vh;
    min-width: 100vw;
    z-index: 200;
    top: 0;
    left: 0;
    background-color: rgba(0.2, 0.2, 0.2, 0.8);
}

    .modal.active {
        display: flex;
        justify-content: center;
        align-items: center;
    }

.modal-body > .close {
    position: absolute;
    top: 5px;
    right: 5px;
    margin-top: 0;
}

.modal-body {
    position: relative;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #5c4773;
    padding: 1rem;
}

    .modal-body > * {
        margin-top: 0.75rem;
    }

    .modal-body > header {
        color: #fff;
        font-size: 24px;
    }

    .modal-body > div > input {
        width: 100%;
    }

    .modal-body > footer {
        text-align: center;
    }
/*.................................*/


/*------------- NAV-BAR -------------*/
.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*background: #4d3d5f;*/
    background: white;
}

    .nav-bar img {
        max-height: 100px;
    }

.nav-bar-ul {
    display: flex;
    margin: 0px;
    list-style-type: none;
    overflow: auto;
}

    .nav-bar-ul li {
        padding: 10px;
        text-decoration: none;
    }

        .nav-bar-ul li a {
            /*color: white;*/
            color: dimgray;
            font-weight: bold;
        }
/*----------*/

.padding-10 {
    padding: 10px;
}

.font-size-large {
    font-size: large;
}

.background-purple {
    background-color: #4d3d5f;
}

.max-width-170px {
    max-width: 170px;
}

.max-width-300px {
    max-width: 300px;
}

.max-width-400px {
    max-width: 400px;
}

.max-width-1000px {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.max-width-1200px {
    max-width: 1200px;
}

.remove-button::before {
    background: red;
    color: white;
    font-size: 30px;
}

#content {
    max-width: 1300px;
    margin: 50px auto;
    overflow: scroll;
}

.notifications {
    position: relative;
    display: flex;
    height: 400px;
    z-index: 1;
}

#notifications-details {
    flex: 1;
    overflow-y: scroll;
}

.notification-list {
    min-width: 200px;
    overflow: hidden;
    max-width: 400px;
    width: 50%;
    background-color: #666666; /*#4d3d5f;*/
    color: white;
    padding: 5px;
    overflow-y: scroll;
    -ms-overflow-style: none;
}

    .notification-list::-webkit-scrollbar {
        display: none;
    }



    .notification-list h4 {
        cursor: pointer;
        margin: 0;
        padding: 10px 15px;
        color: white;
        font-family: -webkit-pictograph;
    }

        .notification-list h4 span {
            display: flex;
            flex-direction: column;
            width: fit-content;
            padding: 5px;
            font-size: 13px;
            color: darkgray;
            font-style: italic;
            border-top: 1px solid red;
        }

        .notification-list h4:hover {
            background-color: rgb(112 110 110);
        }

.notif-details {
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

    .notif-details:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        opacity: .6;
        z-index: 2;
    }


    .notif-details * {
        position: relative;
        z-index: 3;
    }

    .notif-details img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }

    .notif-details h6, h3, p {
        margin: 5px 15px;
    }

    .notif-details h6 {
        font-style: italic;
        color: #a8a3a3;
    }

    .notif-details p {
        line-height: 1.3rem;
        text-align: justify;
    }


footer#footer {
    background: #343232;
    color: white;
    padding: 30px 20px 50px 20px;
    margin-left: -20px;
    margin-right: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

    footer#footer img {
        max-width: 150px;
        max-height: 150px;
        object-fit: contain;
        margin-bottom: 30px;
    }

    footer#footer > div {
        /*width: 40%;*/
        width: 200px;
        max-width: 450px;
        margin: 100px 150px;
        display: flex;
        flex-direction: column;
    }

    footer#footer h3 {
        margin: 0px;
        margin-bottom: 10px;
        font-style: italic;
    }

.footer-icon {
    width: 30px;
    text-align: center;
    padding: 0px 5px;
}

.rsv {
    position: absolute;
    bottom: 5px;
    width: 400px;
    left: calc(50% - 200px);
    color: lightgray;
    font-size: 17px;
}

#menu-list-icon {
    display: none;
    color: purple;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

    #menu-list-icon:hover {
        animation: hopanimation linear .6s;
    }

@keyframes hopanimation {
    0%, 20%, 30%, 70%, 80%, 100% {
        margin-top: 0px;
    }

    50% {
        margin-top: 20px;
    }
}

.show-mob-menu {
    display: flex !important;
    flex-direction: column;
    position: fixed !important;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 10 !important;
    background-color: white;
}

    .show-mob-menu li {
        margin: 20px auto;
    }

        .show-mob-menu li a {
            text-transform: uppercase;
            background-color: white;
            color: purple;
        }

.show-mob-menu-icon i {
    z-index: 11;
    position: relative;
    background: purple;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-image {
    position: relative;
    min-height: 400px;
    min-width: 300px;
    max-height: 600px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 0;
    background: rgb(128 128 128 / 0.8);
}

    .bg-image:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        background-image: url('/Images/kravice.jpg');
        background-size: cover;
        z-index: 1;
    }

    .bg-image p {
        max-width: 600px;
        font-size: 32px;
        color: whitesmoke;
        position: relative;
        z-index: 3;
        line-height: 1.7rem;
        margin-bottom: 130px;
    }

.overflow-x-hidden {
    overflow-x: hidden !important;
}

.custom-a {
    width: 100%;
    max-width: 1400px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

    .custom-a img {
        max-height: 450px;
        max-width: 300px;
        object-fit: contain;
        border-radius: 10px;
    }

.custom-a-text {
    font-family: 'Roboto', sans-serif;
    padding: 30px;
    max-width: 400px;
}

    .custom-a-text h4:before {
        content: '';
        position: relative;
        display: inline-block;
        width: 5px;
        height: 20px;
        margin: 0px 10px;
        background-color: rgb(82 90 98);
    }

    .custom-a-text p {
        font-style: italic;
    }

.line {
    min-width: 300px;
    height: 50px;
    text-align: center;
    margin-top: 100px;
}

    .line:before, .line:after {
        content: '';
        position: relative;
        display: inline-block;
        height: 3px;
        min-width: 150px;
        width: auto;
        background-color: rgb(128, 128, 128);
    }


    .line p {
        display: inline-block;
        text-transform: capitalize;
    }

.table-primary {
    background-color: #4d3d5f !important;
    color: white;
}

.flex-flow-wrap {
    flex-flow: wrap;
}

.activity-header {
    margin: 0px;
    background: linear-gradient(180deg, #ededed8f, transparent);
    margin-top: 10px;
    padding-top: 0px;
}

.activity-name {
    font-style: italic;
    font-family: cursive;
}

.activity-title {
    border-left: 3px solid greenyellow;
    padding-left: 5px;
    margin-left: 20px;
}

.activity-description {
    max-height: 250px;
    font-size: 14px;
    font-style: oblique;
    color: #888888;
    overflow: auto;
}


.attachment-title {
    background: none;
    color: darkgray;
    font-size: 15px;
}

.attachment-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.attachment-type {
    text-align: center;
    padding: 5px;
    background: greenyellow;
    color: white;
    width: 170px;
}

.close-button {
    position: sticky !important;
    border-radius: 50%;
    height: 25px !important;
    width: 25px !important;
    padding: 0px;
}

.font-weight-400 {
    font-weight: 400;
}

.attachment-description {
    max-height: 100%;
    font-style: italic;
    line-height: 1rem;
    font-size: 14px;
    border-color: greenyellow !important;
}

.attachment-price {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 13px;
    min-width: 150px;
    text-align: center;
    border-bottom: 1px solid greenyellow;
    margin-bottom: 5px;
    padding: 5px;
}

.attachment-image {
    max-width: 200px;
    max-height: 300px;
    object-fit: cover;
    margin: 5px;
}

.border-custom-light {
    border: 1px solid #00000021 !important;
}


@media only screen and (max-width : 840px) {
    .attachment-body {
        flex-flow: wrap;
    }
}

@media only screen and (max-width : 700px) {
    .attachment-body {
        flex-direction: column;
        align-items: center;
    }

        .attachment-body > * {
            width: 100%;
        }

    .attachment-description {
        min-height: 100px;
    }
}



@media only screen and (max-width : 1000px) {
    #menu-list-icon {
        display: block;
    }

    #menu-list-ul {
        display: none;
    }

    .from-row-to-column {
        flex-direction: column;
        align-items: center;
    }

        .from-row-to-column > * {
            margin-bottom: 30px;
        }

    .column-reverse {
        flex-direction: column-reverse !important;
    }

    .column-no-space > * {
        margin: 0px;
    }

    .column-spread > * {
        width: 100%;
        max-width: unset;
    }



    /*

    #main-container {
        width: 100%;
        margin: auto;
        padding: 3px;
    }

    #chat-main-div {
        display: flex;
        flex-direction: column;
    }

        #chat-main-div > * {
            width: 100%;
        }


    #chat-options-div {
        display: flex;
        justify-content: space-around;
    }


    #accordion {
        border: none;
        display: flex;
        justify-content: space-around;
        width: 60%;
    }

    #short-menu-icon, #short-menu-icon-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        z-index: 100;
        margin: 20px auto;
    }

    #nav-bar-id {
        display: none;
        flex-direction: column;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: rgb(255 255 255 / 0.70);
    }

        #nav-bar-id ul {
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 80%;
            left: 10%;
            top: 20%;
        }

            #nav-bar-id ul li {
                padding: 10px 30px;
                width: auto;
                margin: auto;
            }

*/


    /*#programsPreview {
        flex-direction: column;
        justify-content: space-between;
        min-height: 600px;
        align-items: center;
    }

        #programsPreview > * {
            width: 80%;
        }

    #contact-lists-div {
        color: gray;
        flex-direction: column;
        align-items: center;
        grid-gap: 3rem;
    }

    .contact-list {
        display: flex;
        width: 80%;
    }

        .contact-list > * {
            width: 50%;
        }

    #card-section-div {
        flex-direction: row;
    }

    .card-section {
        flex-direction: column;
        grid-gap: 3rem;
    }

    #nav-bar-id-2 img {
        display: none;
    }

    #nav-bar-id-2 .container {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
    }

    #nav-bar-id-2 ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }*/
}




@media only screen and (max-width : 670px) {
    /* #main-container {
        overflow: auto;
        padding: 3px;
        box-sizing: border-box;
    }*/

    /* .contact-list {
        flex-direction: column;
    }

        .contact-list > * {
            width: 90%;
        }

    #card-section-div {
        flex-direction: column;
        align-items: center;
    }

    #nav-bar-id {
        width: 100%;
    }

    #card-section-div {
        flex-direction: column;
    }

    #contact-lists-div {
        padding: 20px 5px;
    }

    .contact-list > * {
        width: 100% !important;
    }

    #top-image {
        height: auto !important;
    }*/

    /*#accordion {
        display: flex;
        flex-direction: column;
    }*/

    /*program*/
    /*#program-main-div {
        flex-direction: column;
        width: 100%;
    }

        #program-main-div > * {
            width: 100%;
        }

        #program-main-div img {
            object-fit: contain;
        }

    #programs-options-div {
        border-bottom: 1px solid gray;
        display: flex;
        width: 100%;
    }*/

    /*administration*/
    /*.administration-panel {
        flex-direction: column;
        align-items: center;
    }*/

    /*general*/
    /*.switch-to-column {
        display: flex !important;
        flex-direction: column !important;
    }

        .switch-to-column > * {
            width: 100% !important;
            margin-left: 0px !important;
            margin-right: 0px !important;
            margin-bottom: 20px !important;
        }

    p {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .table-to-block {
        display: block;
    }

    #messagesDiv {
        padding: 5px;
        max-height: 370px;
    }*/
}
