@using WebApp.ViewModels.Notification
@model GetNotifications_VM

<div class="notif-details">
    <img src="/Images/Notification/@Model.ImageName" alt="" />
    <div>
        <h3>@Model.Title</h3>
        <h6>@Model.Author</h6>
        <h6>@Model.DateCreated.ToString("dd. MMM yyyy. HH:mm")</h6>
    </div>
    <p>@Model.Description</p>
</div>



