@using WebApp.ViewModels.Notification
@model List<GetNotifications_VM>



<div class="padding-5 div-section-list-item">

    @foreach (var item in Model)
    {
        <div id="NotificationDiv_@item.Id" class="border border-dark overflow-hidden margin-bottom-50 padding-0 border-radius-5 max-width-1000px">
            <div class="cursor background-purple text-color-white padding-5" onclick="javascript: CollapseDiv('Notification_@item.Id');">
                <i class="bi bi-caret-down-fill text-color-white"></i>
            </div>
            <div id="Notification_@item.Id">
                @if (item.AllowModifications)
                {
                    <div class="text-align-right">
                        <button class="btn-white-black padding-5 border-0" onclick="javascript: RemoveNotification('@item.Id');"><i class="bi bi-x-square remove-button"></i></button>
                    </div>
                }
                <div class="d-flex flex-column margin-top-25">
                    @{ var image = string.IsNullOrEmpty(item.ImageName) ? "/Embedded/notifications.png" : "/Notification/" + item.ImageName; }
                    <img class="w-100 max-height-300 h-auto object-fit-contain" src="/Images/@image" alt="" />
                    <div class="padding-20 background-purple text-color-white">
                        <h4 class="text-align-left">@item.Title</h4>
                        <p class="font-size-13px text-color-lightgray text-align-left">Published @item.DateCreated.ToString("(dddd) dd MMM yyyyy HH:mm")</p>
                        <p class="text-align-justify text-color-white padding-50">@item.Description</p>
                    </div>
                </div>
            </div>
        </div>
    }

</div>



<script>
    function RemoveNotification(NotificationId) {
        $.post("/Notification/RemoveNotification?NotificationId=" + NotificationId, function (result, status) {
            if (status == "success") {
                $("#NotificationDiv_" + NotificationId).remove();
                Message("Notification successfully removed.");
            }
        });
    }
</script>
