@using WebApp.ViewModels.Sponsor
@model List<SponsorOptions_VM.AddedSponsor>


<div class="marquee">
    <ul class="marquee-content">
        @foreach (var sponsor in Model)
        {
            <li class="sponsor-content">
                @{ 
                    var image = string.IsNullOrEmpty(sponsor.ImageName) ? "Administration/default.jpg" : "Sponsors/" + sponsor.ImageName;
                }
                <div class="img"><img src="/Images/@image" alt=""></div>
                <div class="details">
                    <span class="name">@sponsor.Name</span>
                    <p>@sponsor.AreaOfInterest</p>
                </div>
            </li>
        }

    </ul>
</div>


<script>
    $(document).ready(function () {

        const root = document.documentElement;
        const marqueeElementsDisplayed = getComputedStyle(root).getPropertyValue("--marquee-elements-displayed");
        const marqueeContent = document.querySelector("ul.marquee-content");

        root.style.setProperty("--marquee-elements", marqueeContent.children.length);

        for (let i = 0; i < marqueeElementsDisplayed; i++) {
            marqueeContent.appendChild(marqueeContent.children[i].cloneNode(true));
        }

    });
</script>

