@using WebApp.ViewModels.Program
@model GetActivityDetails_VM
    <p>
        @Model.Description
    </p> 

    <button class="btn-primary w-100 padding-5" onclick="javascript: AddActivityToDay(this, '@Model.Id');">Add this activity</button>