@using WebApp.ViewModels.Program
@model GetActivityDetails_VM


<div class="flex-section-row">
    <img class="flex-section-row-child-50" alt="" src="~/Images/Administration/@Model.ImageName" />
    <div class="flex-section-row-child-50 padding-5 text-align-left">
        <h4>@Model.Title</h4>
        <p>@Model.Description</p>
    </div>
</div> 
