@using WebApp.ViewModels.Util
@model List<ComboBox>

@foreach (var item in Model)
{   
    <div class="cursor d-flex justify-content-between" onclick="javascript: ShowActivityDetails(this, @item.Id);"><p class="margin-0">@item.Description</p> <i class="bi bi-arrow-right-square"></i></div>
}

 