@using WebApp.ViewModels.Program
@model GetActivityDetails_VM


<div class="flex-section-row">
    <div class="flex-section-row-child-50">
        <img class="w-100 h-auto" alt="" src="~/Images/Administration/@Model.ImageName" />
    </div>
    <div class="flex-section-row-child-50 padding-5 text-align-left">
        <h4 class="margin-left-25px">@Model.Title</h4>
        <p class="margin-left-5 text-align-justify">@Model.Description</p>
    </div>
</div> 
