@using WebApp.ViewModels.Program
@model List<GetPrograms_VM>



<h6>Check out these plans</h6>

@foreach (var i in Model)
{
    <div class="card">
        <div class="card-header" id="heading_@i.Id">
            <h5 class="mb-0">
                <button class="btn btn-info collapsed" data-toggle="collapse" data-target="#collapse_@i.Id" aria-expanded="false" aria-controls="collapse_@i.Id">
                    @i.Name
                </button>
            </h5>
        </div>

        <div id="collapse_@i.Id" class="collapse" aria-labelledby="heading_@i.Id" data-parent="#PlansList">
            <div class="card-body">
                <div class="d-flex flex-column">
                    <div>
                        @i.Description
                    </div>
                    <div class="w-100 overflow-auto d-flex flex-row justify-content-center align-items-center border-top border-dark margin-top-25 padding-10">
                        @{ var counter = 0; }
                        @foreach (var activity in i.Activities)
                        {
                            <div class="padding-5">
                                <a class="btn-catalog" asp-action="CatalogFullItemDetails" asp-controller="Catalog" asp-route-ActivityId="@activity.Item1">@activity.Item2</a> 
                                @{counter++;}
                            </div>
                            @if (counter < i.Activities.Count())
                            {
                                <div>
                                    <img class="img-size-50" alt="" src="~/Images/Embedded/arrow-right.png" />
                                </div>
                            }
                        }
                    </div>
                    <div>

                    </div>
                    <div class="d-flex justify-content-end margin-top-5">
                        <a class="btn btn-outline-info float-md-right margin-5 cursor" href="/Program/ShowProgramDetails?ProgramId=@i.Id">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}




