@using WebApp.ViewModels.Program
@model List<GetPrograms_VM>




@foreach (var program in Model)
{
    <div class="program-preview cursor-animation-1 cursor" id="ProgramPreview_@program.Id" onclick="location.href = '/Program/ShowProgramDetails?ProgramId=@program.Id'">
        <h3 class="text-align-left">@program.Name</h3>
        <p class="text-align-justify max-height-100">@program.Description</p>
        <div class="d-flex flex-row justify-content-center align-items-center margin-0 w-100 overflow-auto">
            @{ var counter = 0; }
            @foreach (var activity in program.Activities)
            {
                <div class="padding-5">
                    @activity
                    @{counter++;}
                </div>
                @if (counter < program.Activities.Count())
                {
                    <div>
                        <img class="img-size-50" alt="" src="~/Images/Embedded/arrow-right.png" />
                    </div>
                }
            }
        </div>
    </div>


}




