
<div>
    <label>Add places, historical architecutre, transportation, food and other tags to search for plans that offer what you need.</label>
    <div class="flex-section-row h-200 overflow-hidden border-bottom from-row-to-column">
        <div class="flex-section-row-child-50 flex-section-column padding-20">
            <input placeholder="search.." oninput="javascript: GetTags();" id="TagSearch" />
            <div class="div-section-list-item overflow-auto" id="TagsAjax">

            </div>
        </div>
        <div class="flex-section-row-child-50 flex-section-column padding-20">
            <p class="d-flex justify-content-between align-items-center background-light text-color-white padding-5 margin-0">
                You are searching for..
            </p>
            <ul class="list-group text-decoration-none border-left-0 overflow-auto" id="TagsList">
            </ul>
        </div>
    </div>
    <br />

    <div id="PlansList" class="list-group">

    </div>

</div>



<script>
    function GetTags() {
        var keyword = $("#TagSearch").val();
        $.get("/Program/GetTags?Keyword=" + keyword, function (result, status) {
            if (status == "success") {
                $("#TagsAjax").html(result);
            }
        });
    }

    function AddChoosenTag(TagId, TagName) {
        if (document.getElementById("Tag_" + TagId) != null)
            return;

        var li = document.createElement("li");
        li.id = "Tag_" + TagId;
        li.innerText = TagName;
        li.classList = "d-flex justify-content-between align-items-center padding-5";

        var span = document.createElement("span");
        span.className = "badge badge-primary badge-pill";
        span.onclick = () => {
            li.remove();
            UpdatePlansList();
        };

        var x = document.createElement("a");
        x.innerHTML = "X";
        x.classList = "cursor";

        span.appendChild(x);
        li.appendChild(span);
        document.getElementById("TagsList").appendChild(li);
        UpdatePlansList();

    }

    function UpdatePlansList() {
        var tags = $("#TagsList").children("li");
        if (tags.length <= 0) {
            $("#PlansList").html("");
            return;
        }
        var tagList = new Array();
        for (var i = 0; i < tags.length; i++) {
            tagList.push(tags[i].id);
        }
        $.get("/Program/GetPrograms?TagList=" + tagList, function (result, status) {
            if (status == "success") {
                $("#PlansList").html(result);
            }
        });
    }

    function GetTagInfo(TagId) {
        $.get("/Program/GetTagInfo?TagId=" + TagId, function (result, status) {
            if (status == "success") {
                var r = JSON.parse(JSON.stringify(result));

                var descr = document.createElement("p");
                descr.innerHTML = r.description;
                descr.style.padding = "15px";
                descr.style.textAlign = "justify";

                MakeCustomModal(r.name, descr, false, null);

            }
        });
    }
</script>

