@using WebApp.ViewModels.Purchase
@model List<GetPurchases_VM>


<h5>Purchases</h5>
<p>
    List of all purchases made by customers. To see more details click on a specific row.
</p>

@if (Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Created</th>
                <th>Creator</th>
                <th>Program</th>
                <th>Participants</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr class="focus-border cursor" onclick="location.href = '/Purchase/GetProgramPurchasesDetails?PurchaseId=@p.Id'">
                    <td>@p.Created.ToString("dd. MMM yyyy")</td>
                    <td>@p.Creator</td>
                    <td>@p.ProgramTitle</td>
                    <td>@p.Participants</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h4 class="text-center">There are no purchases.</h4>
}

